<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.magento.testscripts.CompareSonyExperiaPrice"/>
      <class name="com.magento.testscripts.VerifyShoppingCartIsEmpty"/>
      <class name="com.magento.testscripts.ValidAllProducts"/>
      <class name="com.magento.testscripts.VerifyCreateAccount"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
